<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="HookADuck.Properties.Settings.HookADuckConnectionString"
            connectionString="Data Source=CD-HP-LAPTOP\SQLEXPRESS;Initial Catalog=HookADuck;Persist Security Info=True;User ID=sqluser;Password=dakotAIS07"
            providerName="System.Data.SqlClient" />
        <add name="HookADuck.Properties.Settings.HookADuckConnectionString1"
            connectionString="Data Source=CD-HP-LAPTOP\SQLEXPRESS;Initial Catalog=HookADuck;Persist Security Info=True;User ID=sqluser;Password=dakotAIS07;Connect Timeout=30;Encrypt=False;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="HookADuck.Properties.Settings.HookADuckConnectionString2"
            connectionString="Data Source=CD-HP-LAPTOP\SQLEXPRESS;Initial Catalog=HookADuck;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>